<header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(0,0,0);">
        <div class="container-fluid">
            <div class="column col-lg-9">
                <a class="navbar-brand" href=""><img src="images/VCLT.png" alt="vclt logo" class="img-fluid" width="97vw"></a>
                <button class="navbar-toggler" type="button" style="background-color: #fff;" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="column col-lg-3 collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/login" style="color: white; font-weight: 700;">SignIn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register"
                            style="color: white; font-weight: 700; margin-left: 60%; width: 100%;">SignUp</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>